@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

@font-face {
    font-family: 'Miama'; /* Name your font family */
    src: url('Miama.ttf'); /* Locate the .ttf file within your directory*/
  }
  

header{
    background: linear-gradient(0.00deg, rgb(17, 17, 17),rgb(43, 42, 42) 100%);
    
}
.navbar, .banner{
    width: 80%;
}
.navbar{

    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}
.navbar h3{
    font-size: 2.1rem;
font-weight: 800;
color: rgb(230, 83, 60);
font-style: italic;
}
.nav-links{
    display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid rgba(255, 255, 255, 0.1); 
   border-radius: 2.5rem; 

}   
.nav-item{
    list-style: none;
    margin: .25rem;
    padding: .5rem 2rem;
    
}
.nav-link{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    
}
.nav-item span{
    font-weight: 600;
}
.span{
    border-radius: 2.9rem;
    background: rgb(230, 83, 60);
}

.bars{
    display: none;
}




.banner{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-title{
    font-size: 4.8rem;
font-weight: 900;
color: white;
}
.banner-title span{
    font-family: 'Miama', sans-serif;
    font-size: 5rem;
    font-weight: 400;
    line-height: 1px;
}
.banner-description{
    font-size: 1rem;
font-weight: 400;
color: rgba(255, 255, 255, 0.5);
margin-top: 2rem;
}
.btn-banner{
    margin-top: 2rem;
}
.btn-primary{
    border-radius: 2.8rem;
border: none;
background: rgb(230, 83, 60);
padding: 1rem 2.5rem;
color: white;
}

.btn-download{
background: none;
border-radius: 2.2rem;
border: 1px solid rgb(255, 255, 255);
padding: .94rem 2.5rem;
margin-left: 1rem;
}
.banner-image-container{
    position: relative;
    margin-top: 3rem;
    margin-right: 1.5rem;
}
.banner-image-container img{
    width: 100%;
}
.box-1 {
    width: 190px;
    height: 98px;
    background-color: aqua;
    position: absolute;
    left: 218px;
    top: 140px;
}
.box-2 {
    width: 200px;
    height: 90px;
    background-color: aqua;
    position: absolute;
    right: 252px;
    bottom: 72px;
}








@media screen and (max-width: 576px) {
    .navbar, .banner{
        width: 90%;
    }
    
    .nav-links{
        display: none;
    }
    .bars{
        display: block;
        color: white;
        font-size: 1.5rem;
    }
    .banner{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
    }
    .banner-title{
        font-size: 3rem;
    font-weight: 800;
    color: white;
    }
    .banner-image-container{
        margin: auto;
        margin-top: 3rem;

    }
    .btn-banner{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-primary {
        border-radius: 2.8rem;
        border: none;
        background: rgb(230, 83, 60);
        padding: 1rem 1rem;
        color: white;
    }
    .btn-download{
        background: none;
        border-radius: 2.2rem;
        border: 1px solid rgb(255, 255, 255);
        padding: .94rem 1rem;
        margin-left: 1rem;
        }
        .box-1 {
            width: 140px;
            height: 74px;
            background-color: aqua;
            position: absolute;
            left: 160px;
            top: 25px;
        }
}