@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

@font-face {
    font-family: 'Miama';
    /* Name your font family */
    src: url('Miama.ttf');
    /* Locate the .ttf file within your directory*/
}


header {
    background: linear-gradient(0.00deg, rgb(17, 17, 17), rgb(43, 42, 42) 100%);

}

.navbar,
.banner, .change-habits-container {
    width: 80%;
}

.navbar {

    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

.navbar h3 {
    font-size: 2.1rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;

}

.nav-item {
    list-style: none;
    margin: .25rem;
    padding: .5rem 2rem;

}

.nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;

}

.nav-item span {
    font-weight: 600;
}

.span {
    border-radius: 2.9rem;
    background: rgb(230, 83, 60);
}

.bars {
    display: none;
}




.banner {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-title {
    font-size: 4.8rem;
    font-weight: 900;
    color: white;

}

.banner-description {
    letter-spacing: 0.5px;
}

.banner-title span {
    font-family: 'Miama', sans-serif;
    font-size: 5rem;
    font-weight: 400;
    line-height: 1px;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
}

.btn-banner {
    margin-top: 2rem;
}

.btn-primary {
    border-radius: 2.8rem;
    border: none;
    background: rgb(230, 83, 60);
    padding: 1rem 2.5rem;
    color: white;
}

.btn-download {
    background: none;
    border-radius: 2.2rem;
    border: 1px solid rgb(255, 255, 255);
    padding: .94rem 2.5rem;
    margin-left: 1rem;
}

.banner-image-container {
    position: relative;
    margin-top: 3rem;
    margin-right: 1.5rem;
}

.banner-image-container img {
    width: 100%;
}

.box-1 {
    width: 190px;
    height: 98px;
    position: absolute;
    left: 218px;
    top: 140px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.box-1 h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
}

.box-1 p,
.box-text p {
    font-size: .8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}


.box-2 {
    width: 200px;
    height: 90px;
    position: absolute;
    right: 252px;
    bottom: 72px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
    display: flex;
    align-items: center;
    justify-content: center;

}

.circle i {
    color: white;
}

.box-text h2 {
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
}


/* Change You Habits Section */

.change-habits{
    background: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
}
.change-habits-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
}
.change-habits-row1{
    width: 60%;
    margin-top: 5rem;
    text-align: center;
}
.change-habits-row1 h1{
    font-size: 3rem;
font-weight: 900;
    color: white;
    margin-bottom: 1rem;
}
.change-habits-row1 p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
font-weight: 400;
margin-bottom: 3.5rem;
}

.change-habits-row2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.change-habits-row2-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.change-habits-row2-container img{
    border-radius: 50%;
    border: 1px solid gray;
    margin-bottom: 2rem;
}
.change-habits-row2-container h4{
    font-size: 1.2rem;
font-weight: 600;
color: white;
margin-bottom: 0.5rem;
}
.change-habits-row2-container p{
    color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
text-align: center;
}



@media screen and (max-width: 576px) {

    .navbar,
    .banner, .change-habits-container {
        width: 90%;
    }

    .navbar {
        padding-top: 2rem;
        margin-bottom: 3rem;
    }

    .nav-links {
        display: none;
    }

    .bars {
        display: block;
        color: white;
        font-size: 1.5rem;
    }

    .banner {
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
    }

    .banner-title {
        font-size: 3rem;
        font-weight: 800;
        color: white;
    }

    .banner-image-container {
        margin: auto;
        margin-top: 3rem;

    }

    .btn-banner {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-primary {
        border-radius: 2.8rem;
        border: none;
        background: rgb(230, 83, 60);
        padding: 1rem 1rem;
        color: white;
    }

    .btn-download {
        background: none;
        border-radius: 2.2rem;
        border: 1px solid rgb(255, 255, 255);
        padding: .94rem 1rem;
        margin-left: 1rem;
    }

    .box-1 {
        width: 135px;
        height: 74px;
        position: absolute;
        left: 160px;
        top: 25px;
    }

    .box-1 h2 {
        font-size: 1.8rem;
    }

    .box-1 p,
    .box-text p {
        font-size: .56rem;
    }

    .box-2 {
        width: 145px;
        height: 70px;
        position: absolute;
        right: 145px;
        bottom: 203px;
    }


    .change-habits-row1{
        width: 100%;
        margin-top: 1rem;
    }
    .change-habits-row1 h1{
        font-size: 1.8rem;
    font-weight: 900;
    }

    .change-habits-row1 p{
        font-size: .8rem;
        padding: 0 1rem;
    }
    .change-habits-row2{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

}